<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd ">
 
   <context:component-scan base-package="com.rs.epl.NB"/>
   <context:component-scan base-package="com.firstapex"/>  
	<jpa:repositories base-package="com.rs.epl.NB.policyrepository" entity-manager-factory-ref="entityManagerFactory1" transaction-manager-ref="transactionManager1"/>
	
	  	<bean id="propertyConfigurer2" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" lazy-init="false">
        <property name="locations">
            <list>
                 <value>file:/D:/EPL-NB-PROPS/connection.properties</value>
            </list>
        </property> 
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean> 
	
	        
   <bean id="dataSource1"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource" lazy-init="false">
		<property name="driverClassName" value="${EPLNB.Driverclass}" />
		<property name="url" value="${EPLNB.DriverURL}" />
		<property name="username" value="${EPLNB.username}" />
		<property name="password" value="${EPLNB.password}" />
	</bean>
	
	<bean id="entityManagerFactory1" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" lazy-init="false">
         <property name="packagesToScan">
         <array>
              <value>com.rs.epl.NB.oementity</value>
              <value>com.fa.component.policy</value>
         </array>
        </property>
        <property name="dataSource" ref="dataSource1"/>
        <property name="persistenceUnitName" value="appPU" />
		<property name="jpaProperties">
			<props>
				<!-- <prop key="hibernate.hbm2ddl.auto">update</prop>  -->
				<prop key="hibernate.dialect">${EPLNB.hibernate.dialect}</prop>
				<prop key="hibernate.default_schema">${EPLNB.username}</prop>
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
			    <prop key="javax.persistence.sharedCache.mode">ALL</prop> 
				<prop key="net.sf.ehcache.configurationResourceName">/myehcache.xml</prop>		
			</props>
		</property>
	<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="generateDdl" value="false"/>
				<property name="showSql" value="${EPLNB.showSql}"/>
			</bean>
		</property>
	</bean>
		
	<bean id="transactionManager1" class="org.springframework.orm.jpa.JpaTransactionManager" lazy-init="false">
		<property name="entityManagerFactory" ref="entityManagerFactory1"/>
	</bean>	 	
  <tx:annotation-driven transaction-manager="transactionManager1"/>
</beans>
<!-- org.hibernate.cache.ehcache.EhCacheRegionFactory -->
<!-- <tx:annotation-driven/> -->
<!-- transaction-manager-ref="transactionManager1" -->
<!-- entity-manager-factory-ref="entityManagerFactory1" -->